ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(3, 49, 3);
  }
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(3, 49, 3);
  color: white;
}
table {
  /* background-color:black; */
  color: rgb(3, 49, 3);
}
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  body {
   
    background-color: beige;
   }
   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
